.input-wrapper {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
}

input {
    position: relative;
    left: 10px;
    padding: 10px;
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    border: 1px solid rgba(112, 112, 112, 0.22);
    font-family: Roboto, sans-serif;
}

.submit {
    position: fixed;
    bottom: 15px;
    left: auto;
    right: 4.5%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(122, 122, 122, 0.22);
    background-color: #baf1be;
}

button {
    font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }